body {
  font-family: sans-serif;
  padding-bottom: 1vw;
  background-color: #E9D3FF;
}

#contentGrid {
  display: grid;
  width: 98%;
  height: 95%;
  grid-template-rows: 33vw 33vw 33vw;
  grid-template-columns: 45vw 45vw;
  align-self: center;
  justify-content: space-around;
  gap: 1vw;
}

h1 {
  font-size: 4vw;
}

h3 {
  font-size: 2.5vw;
  border-bottom: solid;
  margin: 0;
  padding: 0;
  text-align: center;
  align-self: center;
}

h4 {
  font-size: 1.25vw;
  margin: 0;
  padding: 0;
  text-align: left;
  font-style: italic;
}

p {
  font-size: 1.5vw;
}

.element {
  padding-left: 1vw;
  padding-right: 1vw;
  display: grid;
  width: 45vw;
  height: 33vw;
  border: solid;
}

.details {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.video {
  display: grid;
  align-items: center;
  justify-content: center;
}
